<div class="container p-8">

    <h1 class="mb-5">What's New</h1>

    <div class="card shadow-lg">
      <div class="card-body rounded-lg bg-yellow-400 p-10">
        <% @announcements.each_with_index do |announcement, index| %>
          <% if index != 0 %>
            <div class="row"><div class="col"><hr /></div></div>
          <% end %>

          <div class="row announcement " id="<%= dom_id(announcement) %>">
            <div class="col-sm-1 text-center text-white">
              <%= link_to announcements_path(anchor: dom_id(announcement)) do %>
                <strong><%= announcement.published_at.strftime("%b %d") %></strong>
              <% end %>
            </div>
            <div class="col">
              <strong class="<%= announcement_class(announcement.announcement_type) %>"><%= announcement.announcement_type.titleize %>:</strong>
              <strong><%= announcement.name %></strong>
              <%= simple_format announcement.description %>
            </div>
          </div>
        <% end %>

        <% if @announcements.empty? %>
          <div>Exciting stuff coming very soon!</div>
        <% end %>
      </div>
    </div>

</div>