


<div class="row">
  <div class="col-sm-6">
    <h1>Notices</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_notice_path, class: 'btn btn-primary' do %>
    Add New Notice
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Venue</th>
            <th>Author</th>
            <th>Uploaded attachments</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @notices.each do |notice| %>
        <%= content_tag :tr, id: dom_id(notice), class: dom_class(notice) do %>
          

                      <td><%= notice.title %></td>
                      <td><%= notice.venue %></td>
                      <td><%= notice.author %></td>
                      <td><%= link_to "Download Now", notice.attachment.to_s, :target => "_blank" %></td>
          
          
            <td><%= link_to 'Show', notice %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
