<div class="page-header">
  <%= link_to notices_path, class: 'btn btn-default' do %>
    All Notices
  <% end %>

  <% if user_signed_in? && current_user.admin == true %>
    <%= link_to admin_notice_path(@notice), class: 'btn btn-primary'  do %>
      Edit
    <% end %>
  <% end %>  
  <h1>Show notice</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @notice.title %></dd>

  <dt>Attachment Uploaded:</dt>
  <%#= image_tag  @notice.attachment.url(:medium) %>
  <% if @notice.attachment_url.present? %>
    <%= link_to "Download Now",  @notice.attachment.url, :target => "_blank" %>
  <% else %>  
  No Attachment Found
  <% end %>

  <dt>Venue:</dt>
  <dd><%= @notice.venue %></dd>

  <dt>Author:</dt>
  <dd><%= @notice.author %></dd>


</dl>
