<div class="flex flex-row justify-between p-5 md:mt-3 m-0">
  <div class="text-center"><h1 class="text-2xl">Departments</h1></div>
<div class="text-center">
  <%= form_tag( departments_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>
</div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Designation</th>
            <th>Officer name</th>
            <th>Contact</th>
            
      </tr>
    </thead>

    <tbody>
      <% @departments.each do |department| %>
        <%= content_tag :tr, id: dom_id(department), class: dom_class(department) do %>
          
            <td><%= link_to department.name, department %></td>
          

                      <td><%= department.designation %></td>
                      <td><%= department.officer_name %></td>
                      <td><%= department.contact %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

